.ButtonGreen {
    background-color: #0C457F;
    color: rgb(228, 238, 251);
    padding: 1.25rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


.ButtonGreen:hover {
    transform: scale(0.8);
    color: #0C457F;
    background-color: rgba(160, 185, 219, 0.945);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.ButtonWhite {
    background-color: #fff;
    color: #010148;
    padding: .5rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.ButtonWhite:hover {
    color: #fff;
    background-color: #010148;
}

.ButtonLineType {
    font-weight: 700;
    font-size: 1.2rem;
    color: #010148;
    position: relative;
    left: 0.7rem;
    text-decoration: none;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.ButtonLineType:hover {
    font-size: 1.3rem;
    color: rgba(160, 185, 219, 0.945);
}

.LineIcon {
    font-size: 3rem !important;
    transition: all 0.3s ease-in;
    position: relative;
    top: 1.09rem;
    left: -0.7rem;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}


.LineIcon:hover {
    left: 0.5rem;
}

.BtnSubmit {
    padding: 1rem 3rem;
    cursor: pointer;
    font-weight: 600;
    background-color: #010148ea;
    color: white;
    border: none;
    transition: background-image 0.4s ease-in-out !important;
    -webkit-transition: background-image 0.4s ease-in-out !important;
    -moz-transition: background-image 0.4s ease-in-out !important;
    -ms-transition: background-image 0.4s ease-in-out !important;
    -o-transition: background-image 0.4s ease-in-out !important;
}

.BtnSubmit:hover {
    background-image: linear-gradient(to bottom right, #010148, #0C457F, #1CB5DE);
}

